$base: 16
$base-font-size: $base * 1px

@function base-unit($num)
  @return ($num / $base) * 1rem

$workspace-width: base-unit(1440)
$header-height: base-unit(60)
$subheader-height: base-unit(60)

$header-z-index: 100
$modal-z-index: 110

$soft-peach-color: #FBF7F7
$dust-storm-color: #E5CCCC
$hurrican-color: #8B8181
$blossom-color: #d9aeae
$black-color: #000000
$pickled-bluewood-color: #2c3e50
$red-color: #FF0000
